  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  <a href="https://gentle-ridge-86222.herokuapp.com">LINK ELLE HEROKU</a>
  </body>
</html>
